<%= render partial: "partials/navigation" %>
<div class="row fullWidth fullHeight">
  <div class="large-12 columns fullWidth fullHeight">
    <div class="banner fullHeight">
      <div class="cta">
        <div class="display-logo">Prompt Pass<span class="blinking-cursor">|</span></div>
        <div class="tagline">Send secrets with secure two factor messaging</div>
      </div>
      <%= flash_presenter.confirmation %>
      <div class="large-6 medium-7 small-11 demo-form-wrapper">
        <%= simple_form_for sample, as: :sample, url: samples_path, method: :post do |f| %>
          <div class="row p1">
            <div class="medium-12 columns">
              <p class="white-text text-center">Prompt Pass wants to send you a secret message</p>
            </div>
            <%= f.simple_fields_for :recipient do |rf| %>
              <div class="large-6 columns">
                <label class="white-text">Your Email</label>
                <%= rf.input :email, type: 'email', placeholder: I18n.t("errors.messages.email"), label: false %>
              </div>
              <div class="large-6 columns">
                <label class="white-text">Your Phone Number</label>
                <%= rf.input :phone_number, type: 'tel', placeholder: I18n.t("errors.messages.phone_number"), label: false %>
              </div>
            <% end %>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.button :button, I18n.t("forms.samples.submit_button"), class: "submit" %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="panel-bg fullWidth">
  <div class="howto-container">
    <div class="secret-icon howto-icon"><%= image_tag("secret.png", class: "howto-icon-img") %></div>
    <div class="binary-icon howto-icon"><%= image_tag("binary.png", class: "howto-icon-img") %></div>
    <div class="binary-icon2 howto-icon"><%= image_tag("binary.png", class: "howto-icon-img") %></div>
    <div class="key-icon howto-icon"><%= image_tag("key.png", class: "howto-icon-img") %></div>
    <div class="lock-icon howto-icon"><%= image_tag("lock.png", class: "howto-icon-img") %></div>
    <div class="row">
      <div class="howto-step step1 large-push-4 large-4 columns">
        <%= image_tag("machine.png", class: "howto-step-img") %>
        <div class="info step1-info">
          <h4>Create</h4>
          <p>Secret is encrypted and stored with 256 bit encryption.</p>
        </div>
      </div>
      <div class="howto-step step2 large-pull-4 large-4 columns">
        <%= image_tag("email.png", class: "howto-step-img") %>
        <div class="info step2-info">
          <h4>Email Key</h4>
          <p>An email is sent containing the secret url.</p>
        </div>
      </div>
      <div class="howto-step step3 large-4 columns">
        <%= image_tag("sms.png", class: "howto-step-img") %>
        <div class="info step3-info">
          <h4>SMS Key</h4>
          <p>An access code is sent to the recipient's phone to access your secret.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="howto-step step4 large-4 columns large-centered">
        <%= image_tag("laptop.png", class: "howto-step-img") %>
        <div class="info step4-info">
          <h4>View Your Secret</h4>
          <p>The recipient combines the secret url and the access code to view your secret. 
            <br/><br/>The secret is destroyed after viewing.</p>
        </div>
      </div>
    </div>
    <%= image_tag("pipes.png", class: "howto-bg") %>
    <button class="mt1">Send your own secret message</button>
  </div>
</div>
<footer></footer>
