<%= render partial: "partials/navigation" %>
<div class="row access-code-wrapper">
  <div class="large-6 medium-8 small-12 columns medium-centered page-top-m">
    <h3>Looks like you're trying to view your secret message.</h3>
    <p class="text-center">Just enter the code that was sent to your phone for secret-<%= recipient.token_id %>.</p>
    <%= simple_form_for secret, url: recipient_secrets_path, method: :post, html: { class: :pt1 } do |f| %>
      <div class="row">
        <div class="medium-10 columns medium-centered">
          <%= f.input :password, label: "SMS Access Code", placeholder: I18n.t("forms.placeholders.sms_code") %>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 columns medium-centered">
          <%= f.button :button, I18n.t("forms.secrets.decrypt_button"), data: { disable_with: 'Decrypting...' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
