<h1>
  Shhh! Send your secret.
</h1>
<%= simple_form_for secret do |f| %>
  <%= f.input :body, as: :text, input_html: { rows: 40, cols: 150 } %>

  <%= f.simple_fields_for :recipient do |rf| %>
    <%= rf.input :email %>
    <%= rf.input :phone_number %>
  <% end %>

  <%= f.submit I18n.t("forms.secrets.submit_button") %>
<% end %>
