<%= render partial: "partials/navigation" %>
<div class="row page-top-m">
  <%= flash_presenter.confirmation %>
  <div class="medium-9 small-12 columns medium-centered pt1">
    <h3>Write your secret message</h3>

    <%= simple_form_for secret, html: { class: "pt1" } do |f| %>
      <div class="row">
      <%= f.simple_fields_for :recipient do |rf| %>
        <div class="medium-6 columns">
          <%= rf.input :email, type: 'email', placeholder: I18n.t("forms.placeholders.email"), label: "Recipient's Email" %>
        </div>
        <div class="medium-6 columns">
          <%= rf.input :phone_number, type: 'tel', placeholder: I18n.t("forms.placeholders.phone_number"), label: "Recipient's Phone Number" %>
        </div>
      <% end %>
      </div>

      <div class="row">
        <ul class="accordion" data-accordion>
          <li class="accordion-navigation">
            <a href="#panel1a">Advance</a>
            <div id="panel1a" class="content">
              <%= f.input :expiry, collection: Secret::DESTROY_TIME_OPTIONS, label: "Destroy after", prompt: "# Hours" %>
            </div>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
              <a href="#advanced_options">Advanced Options</a>
              <div id="advanced_options" class="content">
                <%= f.simple_fields_for :sender do |sf| %>
                  <%= sf.input :email, type: 'email', placeholder: I18n.t("forms.placeholders.email"), label: "Send A Viewed Notification After The Message Is Received To" %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns mt1">
          <%= f.input :body, as: :text, input_html: { rows: 18, cols: 150 }, placeholder: "Type a secret message!", label: "Secret Message" %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.button :button, I18n.t("forms.secrets.submit_button"), class: "submit", data: { disable_with: 'Sending...' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
